{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
    <link rel="stylesheet" href="{% static 'pagp/stilo.css' %} ?v=3">
</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo">
        </div>
        <div class="menu">
            <ul>
                <li><a href="buscar.html">Buscar</a></li>
                <li><a href="premium.html">Premium</a></li>
            </ul>
        </div>
    </div>
    <div class="context">
        <h1></h1>
        <p>Compara precios, elige calidad y compra inteligente.</p>
        <div class="formulario">
            <form action="" method="Get">
                <input type="text" name="producto" placeholder="Escribe un producto...">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </div>

    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script src="{% static 'js/vinculado.js' %}"></script>
</body>

</html>